body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  max-width: 900px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header nav a {
  display: inline-block;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  transition: all 300ms ease;
}

header nav a:hover {
  background-color: #ddd;
  color: #222;
}

header nav a:last-of-type {
  margin-right: -0.5rem;
}

.contact-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.contact {
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  text-align: center;
}

.contact img {
  margin: auto;
  max-height: 250px;
  max-width: 200px;
}

.contact h3,
.contact h4 {
  margin: 0;
}

.contact h3 {
  margin-top: 1.5rem;
}